<!-- Modal -->
<div (click)="hide()" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}"
     [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
  <div class="modal-dialog modal-md">
    <div class="modal-content" (click)="$event.stopPropagation();">
      <div class="modal-header" >
        <ng-content select=".user-modal-header"></ng-content>
      </div>
      <div class="modal-body">
        <ng-content select=".user-modal-body"></ng-content>
      </div>
      <div class="modal-footer">
        <ng-content select=".user-modal-footer"></ng-content>
      </div>
    </div>
  </div>
</div>
