<div class="row message-upper">
  <div class="col-md-2 col-sm-2 col-xs-2 avatar-box">
    <img (click)="userModal.show()" ngClass="{{message.parentId ? 'img-responsive center-block' : ''}}"
         src="./assets/paul.jpg"
         alt="..." class="img-circle avatar">
    <p class="status">online <span><div class="statusIndicator"></div></span></p>
    <!--<img src="http://placehold.it/100x100" class="img-rounded img-responsive ">-->
  </div>
  <div class="col-md-10 col-sm-10 col-xs-10 messageRow">
    <div class="row">
      <h5 class="timestamp"><strong>{{message.user.userName}}</strong>
        <small class="float-right timestamp">{{message.timestamp | amTimeAgo}}</small>
      </h5>
    </div>
    <!--<pre>{{message | json}}</pre>-->
    <div class="row">
      <p class="message" ngClass="{{!viewFullMessage && message.message.length > 150 ? 'overflow' : ''}}">
        {{!viewFullMessage ? message.message.substring(0,150) : ''}}
        <span *ngIf="!viewFullMessage && message.message.length > 150">...</span>
        <span *ngIf="viewFullMessage">{{message.message}}</span>
        <span>
          <button (click)="viewMessage()" *ngIf="message.message.length > 150" id="viewMore"
                  class="btn btn-link float-right">
            {{!viewFullMessage ? 'view more...' : 'view less'}}
          </button>
        </span>
      </p>
    </div>

  </div>
</div>
<div class="row message-lower" *ngIf="!message.parentId">
  <span *ngIf="message.edited" class="editedLabel">(edited)</span>
  <span *ngIf="!showReplies">
    <live-feed [mainInput]=false [parentId]="message.id"></live-feed>
  </span>
  <div name="button-bar" class="float-right button-bar">
    <button type="button" class="btn btn-link"
            *ngIf="message && message.replies"
            (click)="onClickShowReplies(message.id, 1)"
            ngClass="{{message.replies.length > 0 ? 'replies' : ''}}">
      <span class="comments">{{message.replies.length}} {{message.replies.length > 1 ? 'comments' : 'comment'}} </span>
      <span *ngIf="message.replies.length > 1">
        <span *ngIf="!showReplies" class="glyphicon glyphicon-chevron-down glyph" aria-label="none"></span>
        <span *ngIf="showReplies" class="glyphicon glyphicon-chevron-up glyph" aria-label="none"></span>
      </span>
    </button>
    <button type="button" class="btn btn-link" (click)="onClickEdit(message)">
      <span class="glyphicon glyphicon-pencil glyph" aria-label="edit message"></span>
    </button>
    <button type="button"
            class="btn btn-link"
            (click)="deleteModal.show()">
      <span class="glyphicon glyphicon-trash glyph red" aria-label="delete message"></span>
    </button>
  </div>
</div>


<!--MODALS-->
<delete-modal>
  <div class="delete-modal-header">
    <h4>Confirm delete <span class="glyphicon glyphicon-trash glyph red" aria-label="none"></span></h4>
  </div>
  <div class="delete-modal-footer">
    <button type="button" class="btn btn-default" (click)="deleteModal.hide()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="deleteMessage(message.id); deleteModal.hide()">Delete</button>
  </div>
</delete-modal>

<!--MODALS-->
<user-modal id="user-modal">
  <div class="user-modal-header">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xm-8">
      <img (click)="userModal.show()" src="./assets/paul.jpg" alt="..." class="img-circle avatarXL">
      <p class="status" id="user-modal-status">online <span><div class="statusIndicator"></div></span></p>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xm-4">
      <h2 id="user-modal-username">{{message.user.userName}}</h2>
    </div>

  </div>
  <div class="user-modal-body">Information about the user
    <p>Member since 12-02-2017</p>
    <p>13 posts</p>
    <p>Recieved 4 replies</p>
    <p>4 replies</p>
  </div>
  <div class="user-modal-footer">
  </div>
</user-modal>
