<chat-message *ngFor="let message of messages" [message]="message"></chat-message>

<div class="container">
  <form ngForm>
      <textarea class="form-control" rows="3" name="message" required [(ngModel)]="newMessage.message"
                placeholder="add comment..."></textarea>
    <button type="submit" class="btn btn-success btn-sm float-right " [disabled]="!newMessage.message"
            (click)="postMessage(newMessage);">
      <span class="glyphicon glyphicon-send glyph"></span> Post
    </button>
  </form>
</div>


