
.float-right {
  float: right;
}
.space-container {
  height: 7em;
}
textarea {
  resize: vertical;
}

.form-control {
 font-size: 16px;
}

warning-modal .userName {
  color: #b3e06e;
}
.submit-btn {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  padding-left: 7px;
  padding-right: 9px;
}
