.navbar {
  background-color: #404040;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
}

.settings span {
  font-size: 30px;
  line-height: 0;
  top: 7px;
}
.settings {
  height: 18px;
}
.no-padding {
  padding: 0;
}


