.chatMessage {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  transform: scale(0, 0);
  background-color: #ffffff;
  opacity: 0.1;
  overflow: hidden;
  margin-bottom: 0;
  /*border: 1px solid #b1b1b1;*/
  border-radius: 3px;
  padding-right: 15px;
}

.chatMessage.show {
  transition: all 0.1s ease-in-out;
  transform: none;
  opacity: 1;
  height: inherit;
  margin-bottom: 0.5em;
  padding-left: 15px;
  margin-left: 0;
}

.chatMessage.show.expand {
  box-shadow: 1px 2px 8px rgb(0, 0, 0);
  background-color: #f7f7f7;
  border: none;
}

.avatar-box {
}

.avatar {
  opacity: 0.75;
  margin-top: 4px;
  margin-left: -11px;
  margin-bottom: 2px;
  width: 3.6em;
  box-shadow: 1px 1px 3px #424242;
  transition: opacity 0.5s ease-out;
}

.avatar:hover {
  cursor: pointer;
  transition: opacity 0s ease-out;
  opacity: 1;
  box-shadow: 2px 3px 4px #424242;
}

.avatar:active {
  box-shadow: 1px 1px 1px #424242;
}

.avatarXL {
  transition: padding-left 0.5s ease-out;
  /*padding-left: 0;*/
  box-shadow: 0 0 107px rgba(255, 255, 255, 0.3);
}

.avatarXL:hover {
}

.status {
  margin: 0 0 4px -6px;
  font-size: 0.8em;
  display: flex;
  color: #7e7e7e;
}

.statusIndicator {
  background-color: #b3e06e;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 3px;
  margin-left: 3px;
}

.timestamp {
  padding-right: 6px;
  margin-bottom: 2px;
  color: #85afd4;
}

.message {
  /*padding-right: 5px;*/
  padding-right: 10px;
  font-size: 1.2em;
}

p.message.overflow {
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 140%);
  background: linear-gradient(to bottom, rgb(0, 0, 0) 20%, rgba(255, 255, 255, 0) 140%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p.message > span > button#viewMore {
  margin-top: -6px;
}

p.message.overflow > span > button#viewMore {
  -webkit-text-fill-color: #337ab7;
}

.message-upper {
  border-bottom: 1px dotted #a7a7a7;
}

.messageRow {
}

.message-lower {
  background-color: #f9f9f9;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  height: 26px;
  opacity: 0.6;
  transition: opacity 0.1s ease-out;

}

.button-bar button {
  outline: none;
}

.replies {
  background-color: rgba(166, 207, 236, 0.25);
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.replies > .comments {
  padding-left: 4px;
}

.replies:hover {
  outline: none;
  cursor: pointer;

}

.message-lower:hover {
  transition: opacity ease-out;
  opacity: 1;

}

.button-bar > button {
  padding: 2px 6px;

}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.red {
  color: #b12f2d;
}

.no-padding {
  padding: 0;
}

.repliesContainer.showRepliesContainer {
  transition: opacity 0.4s ease-out;
  opacity: 1;
  margin-left: 25px;
  margin-right: 25px;
}

.repliesContainer {
  transition: opacity 0.4s ease-out;
  opacity: 0;
}

.editedLabel {
  font-size: 0.7em;
  font-style: italic;
  color: #337ab7;
  margin-left: 9px;
  margin-top: 6px;
  float: left;
}

live-feed {
  float: left;
  height: 26px;
  width: 8em;
  font-size: 11px;
  padding-top: 4px;
  margin-left: 16px;
}


.form-control {
  margin-top: 10px;

}

.submit-btn {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 375px ) {
  .messageRow {
    padding-left: 28px;
  }
}

@media (max-width: 375px ) {
  .avatar {
    width: 2.6em;
  }

  .button-bar > button > span.glyph {
    /*font-size: 10px;*/
    /*TODO make smaller icons? */
  }
}

#user-modal-status {
  color: white !important;
  margin-left: 50px !important;
}

#user-modal-username {
  text-align: -webkit-right;
  margin-top: 37px;
  color: darkgray;
}
